body {
    font-family: 'Roboto', sans-serif;
    background-color: #212025;
}

.container {
  width: 1138px;
  margin: auto;
}

a {
    color: unset;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  height: 86px;
  justify-content: space-between;
}

.logo1 {
    color: #e8335c;
    font-size: 36px;
    font-weight: bold;
    width: 50%;
    text-transform: uppercase;
}

.logo2 {
    color: #64e6c4;
    font-weight: 300;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    width: 35%;
    align-items: center;
}

.searchBar {
    background-color: #212025;
    color: #fff;
    border: none;
    height: 20px;
    margin-right: 60px;
    outline: none;
}

.icon {
    color: #fff;
    font-size: 32px;
}

.langChoice {
    color: #fff;
    text-transform: uppercase;
}


/* LANDING ZONE */

.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 142px;
}

.imgTitle {
    width: 335px;
    height: 318px;
}

.textTitle {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 318px;
}

.--news {
    background-image: url("../img/Nouveautés.png");
}

.--top10 {
    background-image: url("../img/top10.png");
}

.--coupdecoeur {
    background-image: url("../img/Coup de coeur.png");
}

.greenBar {
    width: 450px;
    height: 5px;
    float: right;
    background-color: #64e6c4;
    margin-top: 35px;
}

/* FILTRES */

.itemContainer {
  margin-top: 192px;
}

.listItem {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 500px;
}

.items {
    color: #9a9a9a;
    font-size: 18px;
    text-transform: uppercase;
}

.items .filter-btn:hover{
    color: #fff;
}

.items .filter-btn.active{
    font-weight: 700;
    color: #fff;
}

/* AFFICHES DES FILMS */
.movieParent{
    text-align: center;
    display: inline-block;
    width: 100%;
}

.movieContainer {
    margin-top: 85px;
    margin-bottom: 155px;
    text-align: left;
    display: inline-block;
    width: 100%;
}

.imgContainer {
    justify-content: center;
    display: inline-flex;
    max-width: 202px;
    width: 18%;
    height: 343px;
    margin: 0 1%;
    margin-top: 30px;
    background-color: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .4s ease-in-out;
    vertical-align: top;
}

.imgContainer span {
    padding: 5px;
    line-height: 1.5em;
    text-align: center;
    color: #fff;
    position: relative;
    margin: auto;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: .4s;
    transform: translateY(343px);
}

.imgContainer:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.imgContainer:hover span {
    transform: translateY(0);
}

.footerContainer {
    display: flex;
    width: 100%;
    height: 175px;
    color: #fff;
    justify-content: space-between;
}

.footerPart {
    width: 14%;
    margin: 0 auto;
}

.footerTitle {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footerTextLink {
    width: 120px;
    font-size: 10px;
    line-height: 20px;
}

.imgFooter {
  display: flex;
  justify-content: space-between;
}

.footerIcons {
    width: 24px;
    height: auto;
    margin-top: 10px;
}
